body {
  margin: 20px;
}

h1 {
  font-size: 80px;
  font-family: "voga", sans-serif;
  margin-bottom: 6px;
}

h2 {
  font-size: 19px;
  font-family: "montserrat", serif;
  color: #888585;
  margin-bottom: 50px;
}


  
  